# Gamin Specific
.env
*.db

# Python-specific files
__pycache__/
*.pyc
*.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtual environment
.venv/
env/
venv/

# IDE-specific files (e.g., VS Code, PyCharm)
.vscode/
.idea/

# OS-specific temporary files
.DS_Store
Thumbs.db

# Streamlit specific
.streamlit/cache/
